body {
    font-family: Arial, sans-serif; 
    background-color: #ebe5e5;
    color: #333;
}

img{
    float: left;
}

img:hover
p{
    display: flex;
    flex-wrap: wrap;
}
header {
    display: flex;
    justify-content: flex-start;
    background-color: #312d2d;
    color: #f4f5f4;
    padding: 30px 10%;

}

ul{
    border: 10px solid;
    border-color: #4a4848;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

li a{
    display:  block;
    color: #4a4848;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 10px 15px;
    text-align: justify;
    text-decoration: none;
    color: #9f9578;


}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(144, 169, 169);
}

a:hover{
    text-shadow:0px 0px 10px rgb(21, 21, 22);
}

img{
    float: right;
}

.section {
    border: 15px solid;
    border-color: #312d2d;
    background-color: #4a4848;
    width: auto;
    height: auto;
    padding: 10px;
} 


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    display: flow-root;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
}

#aboutme, #Work{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #ffffff;
}

#contact{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}
